<!doctype html>
<html ng-app>

<head>
    <title>Workshop site</title>
    <link rel="stylesheet" href="lib/bootstrap/css/app.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
    <script src="lib/angular/angular.js"></script>
    <script src="js/controller.js"></script>
</head>

<body ng-controller="UserRegController">
<div class="container">
    <div class="well">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputName">Name</label>
                <div class="controls">
                    <input type="text" id="inputName" placeholder="Name" ng-model="name">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputSurname">Surname</label>
                <div class="controls">
                    <input type="text" id="inputSurname" placeholder="Surname" ng-model="surname">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                    <input type="text" id="inputEmail" placeholder="Email" ng-model="email">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputWebpage">Webpage</label>
                <div class="controls">
                    <input type="text" id="inputWebpage" placeholder="Webpage" ng-model="webpage">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn" ng-click="registerUser()">Register</button>
                </div>
            </div>
        </form>

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Webpage</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.webpage}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
